

.mainColor{
  background-color:#802c6e;
}

.cart{
  font-size: 24px;
}

.cart span {
  padding:  10px;
}

.cartBadge{
  position: absolute;
  top: -16px;
    right: -8px;
}

.card-title{
  min-height: 110px;
}

.cartImg{
width: 30%;
}

.cart-action{
  width: 70%;
}

.cartIitems,.price{
  color: #802c6e;
}

.price{
  font-size:30px ;
}